.example {
    color: #FFF;
    text-align: center;
}
.example-item {
    display: inline;
}
.example-item_first {
    background-color: #e6a948;
}
.example-item_second {
    background-color: #2fe4de;
}
.example-item_third {
    background-color: #2a5a7a;
}